# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
env/
.venv/

# Django stuff
db.sqlite3
/media/
staticfiles/

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

#Database Info
.env