{% extends 'parking/base_dashboard.html' %}

{% block title %}تغییر رمز کاربر{% endblock %}

{% block content %}
    <h1>تغییر رمز کاربر</h1>

    <p>نام کاربری: {{ customer_user.user.username }}</p>
    <p>نام کاربر: {{ customer_user.user.first_name|default:"-" }}</p>
    <p>نقش: {{ customer_user.get_role_display }}</p>

    <hr>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">ذخیره رمز جدید</button>
    </form>

    <hr>

    <a href="{% url 'parking:customer_user_list' %}">بازگشت به لیست کاربران</a>
{% endblock %}