{% extends 'parking/base_dashboard.html' %}

{% block title %}مدیریت جایگاه‌های پارک{% endblock %}

{% block content %}
    <h1>مدیریت جایگاه‌های پارک</h1>

    <p>پارکینگ: {{ customer.name }}</p>

    <a href="{% url 'parking:parking_spot_create' %}">ثبت جایگاه جدید</a>

    <hr>

    <h2>فیلترها</h2>

    <form method="get">
        {{ filter_form.as_p }}

        <button type="submit">اعمال فیلتر</button>
        <a href="{% url 'parking:parking_spot_list' %}">پاک کردن فیلترها</a>
    </form>

    <hr>

    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>پارکینگ</th>
                <th>کد جایگاه</th>
                <th>طبقه</th>
                <th>نوع جایگاه</th>
                <th>وضعیت</th>
                <th>عملیات</th>
            </tr>
        </thead>

        <tbody>
            {% for spot in parking_spots %}
                <tr>
                    <td>{{ spot.parking_lot.name }}</td>
                    <td>{{ spot.code }}</td>
                    <td>{{ spot.level }}</td>
                    <td>{{ spot.get_spot_type_display }}</td>
                    <td>
                        {% if spot.is_occupied %}
                            اشغال
                        {% else %}
                            آزاد
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'parking:parking_spot_update' spot.id %}">ویرایش</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">هیچ جایگاهی با این فیلترها پیدا نشد.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'parking/pagination.html' %}
{% endblock %}