{% extends 'parking/base_dashboard.html' %}
{% load date_filters %}

{% block title %}مدیریت سشن‌های پارک{% endblock %}

{% block content %}
    <h1>مدیریت سشن‌های پارک</h1>

    <p>پارکینگ: {{ customer.name }}</p>

    <a href="{% url 'parking:parking_session_create' %}">ثبت ورود وسیله نقلیه</a>
    <hr>

    <h2>فیلترها</h2>

    <form method="get">
        {{ filter_form.as_p }}

        <button type="submit">اعمال فیلتر</button>
        <a href="{% url 'parking:parking_session_list' %}">پاک کردن فیلترها</a>
    </form>

    <hr>
    <div id="records-section"></div>
    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>پلاک</th>
                <th>نوع وسیله</th>
                <th>پارکینگ</th>
                <th>جایگاه</th>
                <th>زمان ورود</th>
                <th>زمان خروج</th>
                <th>مدت توقف</th>
                <th>هزینه</th>
                <th>وضعیت</th>
                <th>عملیات</th>
            </tr>
        </thead>

        <tbody>
            {% for session in sessions %}
                <tr>
                    <td>{{ session.vehicle.plate_number }}</td>
                    <td>{{ session.vehicle.get_type_display }}</td>
                    <td>{{ session.spot.parking_lot.name }}</td>
                    <td>{{ session.spot.code }}</td>
                    <td>{{ session.entry_time|jalali_gregorian }}</td>
                    <td>{{ session.exit_time|jalali_gregorian }}</td>
                    <td>{{ session.total_duration_minutes|default:"-" }}</td>
                    <td>{{ session.calculated_fee|default:"-" }}</td>
                    <td>{{ session.get_status_display }}</td>
                    <td>
                        {% if session.status == 'open' %}
                            <a href="{% url 'parking:parking_session_close' session.id %}">ثبت خروج</a>
                            |
                            <a href="{% url 'parking:parking_session_cancel' session.id %}">لغو سشن</a>
                            |
                        {% endif %}
                        <a href="{% url 'parking:parking_session_detail' session.id %}">جزئیات</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10">هیچ سشنی با این فیلترها پیدا نشد.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'parking/pagination.html' %}
{% endblock %}