{% extends 'parking/base_dashboard.html' %}

{% block title %}مدیریت پارکینگ‌ها{% endblock %}

{% block content %}
    <h1>مدیریت پارکینگ‌ها</h1>

    <p>پارکینگ: {{ customer.name }}</p>

    <a href="{% url 'parking:parking_lot_create' %}">ثبت پارکینگ جدید</a>

    <hr>

    <h2>فیلترها</h2>

    <form method="get">
        {{ filter_form.as_p }}

        <button type="submit">اعمال فیلتر</button>
        <a href="{% url 'parking:parking_lot_list' %}">پاک کردن فیلترها</a>
    </form>

    <hr>

    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>نام پارکینگ</th>
                <th>ظرفیت خودرو</th>
                <th>ظرفیت موتور</th>
                <th>ظرفیت کل</th>
                <th>عملیات</th>
            </tr>
        </thead>

        <tbody>
            {% for parking_lot in parking_lots %}
                <tr>
                    <td>{{ parking_lot.name }}</td>
                    <td>{{ parking_lot.car_capacity }}</td>
                    <td>{{ parking_lot.motorcycle_capacity }}</td>
                    <td>{{ parking_lot.total_capacity }}</td>
                    <td>
                        <a href="{% url 'parking:parking_lot_update' parking_lot.id %}">ویرایش</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">هیچ پارکینگی با این فیلترها پیدا نشد.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'parking/pagination.html' %}
{% endblock %}