{% extends 'parking/base_dashboard.html' %}

{% block title %}مدیریت تعرفه‌ها{% endblock %}

{% block content %}
    <h1>مدیریت تعرفه‌ها</h1>

    <p>پارکینگ: {{ customer.name }}</p>

    <a href="{% url 'parking:tariff_create' %}">ثبت تعرفه جدید</a>

    <hr>

    <h2>فیلترها</h2>

    <form method="get">
        {{ filter_form.as_p }}

        <button type="submit">اعمال فیلتر</button>
        <a href="{% url 'parking:tariff_list' %}">پاک کردن فیلترها</a>
    </form>

    <hr>
    <div id="records-section"></div>
    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>نام تعرفه</th>
                <th>نوع وسیله</th>
                <th>ساعت اول</th>
                <th>هر ساعت بعدی</th>
                <th>شبانه‌روزی</th>
                <th>فعال</th>
                <th>عملیات</th>
            </tr>
        </thead>

        <tbody>
            {% for tariff in tariffs %}
                <tr>
                    <td>{{ tariff.name }}</td>
                    <td>{{ tariff.get_vehicle_type_display }}</td>
                    <td>{{ tariff.first_hour_price }}</td>
                    <td>{{ tariff.additional_hour_price }}</td>
                    <td>{{ tariff.daily_price }}</td>
                    <td>
                        {% if tariff.is_active %}
                            بله
                        {% else %}
                            خیر
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'parking:tariff_update' tariff.id %}">ویرایش</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">هیچ تعرفه‌ای با این فیلترها پیدا نشد.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'parking/pagination.html' %}
{% endblock %}